.card {
  width: 450px;
  height: 300px;
  border: 0.1px solid rgba(0, 0, 0, 0.247);
  border-radius: 4px;
  margin: 40px;
  margin-top: 40px;
}

.top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.top button {
  margin: 8px;
  border-radius: 4px;
  border-color: none;
  border-style: none;
  margin-bottom: 0px;
  background-color: rgb(218, 1, 1);
  color: white;
  width: 30px;
  height: 30px;
}

.outerbox {
  display: flex;
  align-items: flex-start;
}

.databox {
  display: flex;
  flex-wrap: wrap;
  width: 310px;
  padding-top: 20px;
  padding-left: 20px;
}

.mainbox {
  width: 550px;
}

.box {
  width: 140px;
  padding-top: 20px;
}

.imgcontainer {
  padding-top: 20px;
}

@media screen and (max-width: 600px) {
  .card {
    width: 410px;
  }

  .databox {
    width: 280px;
  }

  .box {
    width: 120px;
  }
}
